.meal__list {
	margin-top: 25px;
}

.meal__recap {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
	border-radius: 3px;
	font-size: 13px;
	box-shadow: 0px 1px 3px 0px #c5c5c5;
	border-radius: 10px;
}

.meal__recap-icon {
	margin-right: 5px;
}

.meal__name {
	margin-top: 25px;
}

.meal__datas--prots { color: #A9E5BB }
.meal__datas--carbs { color: #FCAA67 }
.meal__datas--fats { color: #A09ABC }