.meal__list {
	margin-top: 25px;
}

.meal__recap {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
	color: #68b683;
	border-radius: 3px;
	font-size: 13px;
	box-shadow: 0px 1px 3px 0px #c5c5c5;
	border-radius: 10px;
}

.meal__recap-icon {
	margin-right: 5px;
}

.meal__row {
	+.meal__row {
		border-top: 1px solid #f5f5f5;
	}
}
.meal__row--active {
	background-color: #f5f5f5;
	padding-bottom: 15px;
}
.meal__title {
	display: flex;
	padding: 15px 0;
	font-size: 20px;
	align-items: center;
	&::before {
		content: "";
		display: block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: #535c68;
		margin-right: 10px;
	}
}

.meal__details {
	padding: 0 10px;
	border-left: 1px solid #d7d7d7;
	display: none;
	.meal__row--active & {
		display: block;
	}
}

.meal__edit-container {
	margin-left: auto;
	display: flex;
	align-items: center;
	align-self: stretch;
}

.meal__name {
	margin-top: 25px;
}

.icon-chevron {
	color: #bcbcbc;
	font-size: 10px;
	margin-left: auto;
	.meal__row--active & {
		transform: rotate(180deg);
	}
}