.filter {
	margin-bottom: 30px;
	position: relative;
}

.filter__input {
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
	display: block;
	margin: auto;
	border: none;
	padding: 10px;
	padding-left: 36px;
	background-color: #f1f1f1;
	&::placeholder {
		color: #a9a9a9;
	}
}


.filter__button {
	border: none;
	cursor: pointer;
	position: absolute;
	background: none;
	left: 0;
	top: 0;
	bottom: 0;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	padding: 0 10px;
	color: #a9a9a9;
}