.tile {
	box-shadow: 0px 1px 4px -2px;
	border-radius: 5px;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	margin-top: 5px;
	border: 4px solid;
	border-color: transparent;
	transition: border-color ease-out .4s;
	border-radius: 10px;
	overflow: hidden;
	&.active {
		border: 4px solid;
		border-color: #457A9D;
		transition: border-color ease-out .4s;
	}
}

.tile__details {
	padding: 6px 10px 6px;
}

.tile__quantity {
	margin-top: 5px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 5px;
}

.tile__quantity-input {
	border: none;
	border-bottom: 1px solid #d7d7d7;
	padding: 15px 5px 5px 0;
	width: 100%;
	margin-right: 10px;
	font-size: 16px;
	color: #777777;
}
.tile__quantity-copy {
	margin-right: 5px;
	font-size: 12px;
	color: #777777;
}
.tile__quantity-unit {
	font-size: 12px;
	color: #777777;
}

.tile--grid {
	display: inline-block;
	width: calc(50% - 5px);
	align-items: center;
	font-size: 0;
	&:nth-child(even) { margin-left: 5px; } 
	&:nth-child(odd) { margin-right: 5px; } 
	.tile__image {
		width: 100%;
		height: 115px;
		object-fit: cover;
		display: block;
	}
	.tile__name {
		@include multiLineEllipsis($lineHeight: 1.3em, $lineCount: 2);
		font-size: 16px;
	}
}

.tile--slim {
	.tile__quantity {
		max-width: 60px;
	}
}

.tile__button {
	border: none;
	background: none;
	font-size: 18px;
	font-weight: 700;
	color: #457A9D;
	opacity: 0;
	transform: scale(.4);
	transition: opacity .2s ease-out, transform .2s ease-out;
	.active & { 
		opacity: 1;
		transform: scale(1);
		transition: opacity .2s ease-out, transform .2s ease-out;
	}
}
