.search {
	position: relative;	
}

.search__content {
	position: sticky;
	top: 0;
	background-color: #535c68;
	padding: 10px 30px 10px 10px;
	position: relative;
}

.search__inner {
	position: relative;
}

.search__results {
	padding: 10px 20px 50px;
}

.search__results-btn-detail {
	border: none;
	background: none;
	font-size: 20px
}

.search__input {
	width: 100%;
	border-radius: 3px;
	box-sizing: border-box;
	color: #7d7d7d;
	display: block;
	margin: auto;
	border: none;
	padding: 15px 20px;
	&:focus {
		outline: none;
	}
	&::placeholder {
		color: #7d7d7d;
	}
}

.search__button {
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-color: #3ae374;
	color: #fff;
	width: 46px;
	height: 46px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	transform: translateX(50%);
	margin: auto;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	transition: background-color .2s ease-out;
	&.search__button--inactive {
		background-color: #535c68;
		transition: background-color .2s ease-out;
	}
	&.search__button--red {
		background-color: #b9b9b9;
		transition: background-color .2s ease-out;
	}
}