.segmented {
	display: flex;
	border: 1px solid#457A9D;
	margin: 15px 10px 0;
	border-radius: 20.5px;
	overflow: hidden;
}

.segmented__item {
	list-style-type: none;
	flex: 1;
}

.segmented__link {
	padding: 6px 0;
	text-align: center;
	display: block;
	color: #457A9D;
	list-style-type: none;
	text-decoration: none;
	&.router-link-active{
		background-color: #457A9D;
		color: #fff;
		font-weight: 500;
	}
}