body {
	padding-bottom: 50px;
	font-family: $font-family;
	color: #8f8e94;
}

h1 {
	margin: 15px 0;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading--fill {
	background-color: #457A9D;
	color: #fff;
}

.push-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 10;
	overflow: auto;
	padding-bottom: 50px;
}
